<!-- Some flight information -->
<div class="cover" data-background-image="{{ cover_photos[4].url }}" style="background-color: #CCC"></div>

<div class="flights-wrapper">
	<div class="article">
		<h1>How about flying to Barcelona?</h1>
		
		<table class="pure-table pure-table-striped flights">
			<tr>
				<td class="flights__td-price">
					<p class="flights__price">$772</p>
					<p class="flights__description small">round tip</p>
				</td>
				<td class="flights__td-logo">
					<img src="https://www.gstatic.com/flights/airline_logos/35px/AZ.png" />
				</td>
				<td class="flights__td-time">
					<p class="flights__text">9:50 am - 3:20 pm</p>
					<p class="flights__description">Alitalia</p>
				</td>
				<td class="flights__td-duration">
					<p class="flights__text">27h 40m</p>
					<p class="flights__description">TRS-LHR</p>
				</td>
				<td  class="flights__td-stops">
					<p class="flights__text">1 stop</p>
					<p class="flights__description">2h 25m in FCO</p>
				</td>
			</tr>
			<tr>
				<td class="flights__td-price">
					<p class="flights__price">$372</p>
					<p class="flights__description small">round tip</p>
				</td>
				<td class="flights__td-logo">
					<img src="https://www.gstatic.com/flights/airline_logos/35px/LH.png" />
				</td>
				<td class="flights__td-time">
					<p class="flights__text">9:50 am - 3:20 pm</p>
					<p class="flights__description">Lufthansa</p>
				</td>
				<td class="flights__td-duration">
					<p class="flights__text">22h 40m</p>
					<p class="flights__description">TRS-LHR</p>
				</td>
				<td class="flights__td-stops">
					<p class="flights__text">1 stop</p>
					<p class="flights__description">2h 25m in FCO</p>
				</td>
			</tr>
			<tr>
				<td class="flights__td-price">
					<p class="flights__price">$692</p>
					<p class="flights__description small">round tip</p>
				</td>
				<td class="flights__td-logo">
					<img src="https://www.gstatic.com/flights/airline_logos/35px/AF.png" />
				</td>
				<td class="flights__td-time">
					<p class="flights__text">9:50 am - 3:20 pm</p>
					<p class="flights__description">Air France</p>
				</td>
				<td class="flights__td-duration">
					<p class="flights__text">27h 40m</p>
					<p class="flights__description">TRS-LHR</p>
				</td>
				<td class="flights__td-stops">
					<p class="flights__text">1 stop</p>
					<p class="flights__description">2h 25m in FCO</p>
				</td>
			</tr>
			<tr>
				<td class="flights__td-price">
					<p class="flights__price">$1,136</p>
					<p class="flights__description small">round tip</p>
				</td>
				<td class="flights__td-logo">
					<img src="https://www.gstatic.com/flights/airline_logos/35px/AZ.png" />
				</td>
					<td class="flights__td-time">
						<p class="flights__text">9:50 am - 3:20 pm</p>
						<p class="flights__description">Alitalia</p>
					</td>
					<td class="flights__td-duration">
						<p class="flights__text">27h 40m</p>
						<p class="flights__description">TRS-LHR</p>
					</td>
					<td class="flights__td-stops">
						<p class="flights__text">1 stop</p>
						<p class="flights__description">2h 25m in FCO</p>
					</td>
				</tr>
		</table>
	</div>
</div>