<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>Travel Journal</title>

	<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/png" />

	<script src="//use.edgefonts.net/open-sans:n3,i3,n4,i4,n6,i6,n7,i7,n8,i8:all.js"></script>

	<link type="text/css" rel="stylesheet" href="/static/css/pure/0.3.0/pure-min.css" />
	<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/header.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/journal.css" />
</head>

<body>
	<div class="cover position" style="background-color: #CCC; background-image: url({{ TJ_BACKGROUND_IMG|tj_background_image }});">
		<div class="info bottom-left">
			<h1>In Progress</h1>
			<p>We're still working really hard to collect information about this plan. In the meantime feel free to see what other members of the community have already built <a href="/community">here</a>.</p>
		</div>
	</div>
</body>

</html>