<footer>
	<div class="share-container">
		<p class="share-title">SHARE PAGE</p>
		<a href="https://plus.google.com/share?url={{ BASE_URL.scheme + '://' + BASE_URL.netloc + BASE_URL.path }}"
		   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
			<div class="share-item google"><i class="fa fa-google-plus"></i></div>	
		</a>
		<a href="https://www.facebook.com/sharer/sharer.php?u={{ BASE_URL.scheme + '://' + BASE_URL.netloc + BASE_URL.path }}"
		   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
			<div class="share-item facebook"><i class="fa fa-facebook"></i></div>
		</a>
		<a href="https://twitter.com/share?url={{ BASE_URL.scheme + '://' + BASE_URL.netloc + BASE_URL.path }}&text=Check out this awesome travel journal&via=TravelJApp"
		   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
			<div class="share-item twitter"><i class="fa fa-twitter"></i></div>
		</a>
	</div>
	<div class="copyright"> &copy; Travel Journal 2014 </div>
</footer>