<footer>
	<div class="share-container">
		<p class="share-title">FOLLOW US</p>
		<a target="_blank" href="https://plus.google.com/+Gcdc2013traveljournalAppspotTJ"><div class="share-item google"><i class="fa fa-google-plus"></i></div></a>
		<a target="_blank" href="https://www.facebook.com/TravelJournalApp"><div class="share-item facebook"><i class="fa fa-facebook"></i></div></a>
		<a target="_blank" href="https://twitter.com/TravelJApp"><div class="share-item twitter"><i class="fa fa-twitter"></i></div></a>
	</div>
	<div class="copyright"> &copy; Travel Journal 2014 </div>
</footer>